<ion-view title="Login">
    <ion-content padding="true" has-header="true">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="some@domain.com">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="test123">
                </label>
            </ion-list>
            <a class="button button-positive button-clear button-block " ng-click="forgot()">Forgot my password</a>
            <button class="button button-stable button-block " ng-click="login()" >Log in</button>
            <a class="button button-positive button-clear button-block " ng-click="signUp()">Or create an account</a>
        </form>
    </ion-content>
</ion-view>